reviews
*.out
*.out
*.aux
*.log
*~
\#*
*\#
*.toc
udp.pdf
midterm-1.pdf
midterm.pdf
outline/outline.txt
submissions
ta1.pdf
ta2.pdf
evaluations
ta2.pdf
ceab-letter
finals/questions.txt
labs/LA1
labs/LA2
chat.py
chat_server.py
dns.png
ta3.pdf
graph.dia
graph.eps
finals.pdf
